/*#ef5777  */

/*-------------------------------------------*/

/*BASIC SETUP*/

/*-------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
}

/*-------------------------------------------*/

/*REUSABLE COMPONENTS*/

/*-------------------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/*---------HEADINGS---------------*/

h2,
h3 {

	font-weight: 300;
	text-transform: uppercase;


}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #ef5777;
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
	font-size: 350%;
	word-spacing: 2px;

}

h2 {

	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	height: 3px;
	background-color: #ef5777;
	content: " ";
	width: 150px;
	margin: 40px auto 60px auto;

}

.row h3 {
	margin-bottom: 20px;

}





/*-------------------------------------------*/

/*----------------HEADER-------------*/

/*-------------------------------------------*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.7)), url(img/15162.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
	background-attachment: fixed;
}

.name-box {
	position: absolute;
	width: 1140px;
	top: 55%;
	left: 55%;
	transform: translate(-50%, -50%);
}

.main-nav {
	list-style: none;
	float: right;
	margin-top: 35px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-botton 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	/*	color: #ef5777;*/
	border-bottom: 2px solid #ef5777;
}


/*------------BUTTONS----------*/

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #ef5777;
	color: #ef5777;
	display: inline-block;
	padding: 5px 20px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	margin-left: 7px;
	text-transform: uppercase;
	font-size: 90%;

}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #ee476a;
	background-color: #ee476a;
	color: #fff;

}



/*------------------------icons----------------------*/

.icon-big {

	color: #ef5777;
	font-size: 200%;
	display: block;
	margin-bottom: 20px;

}

/* ------------------PHOTOS-----------------------*/

.section-photos {
	padding: 0;
}

.photos-showcase {
	list-style: none;
	width: 100%;
}

.photos-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.ana-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background: #000;
}

.ana-photo img {
	opacity: 0.7;
	transform: scale(1.1);
	transition: transform 0.5s, opacity 0.5s;

}

.ana-photo img:hover {
	opacity: 1;
	transform: scale(1.02);
}
